@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Inter-VariableFont_opsz,wght.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--colors-primary);

  &.scroll-locked {
    touch-action: none;
    overflow: hidden;
  }
}

html {
  box-sizing: border-box;
  min-height: 100%;

  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--colors-primary-text);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  &,
  body,
  #__nuxt {
    @include ui-flex-vertical;
  }

  @include typo-sans-serif;
  @include text-16;
}

button {
  margin: 0;
  padding: 0;
  border: none;

  font-family: inherit;
  color: inherit;

  appearance: none;
  background: transparent;
  box-shadow: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

hr {
  margin: 0;
}

h1 {
  @include text-h1;
}
